fig_production_figs/20231009.pdf
fig_production_figs/20231010.pdf
fig_production_figs/20231030.pdf
fig_production_figs/20231031.pdf
fig_production_figs/20231130_fbg3__fbg8_.pdf
fig_production_figs/20231130_fbg4__fbg9_.pdf
fig_production_figs/20231130_fbg5__fbg13_.pdf
fig_production_figs/20231130.pdf
fig_production_figs/20231030/fbg1.png
fig_production_figs/20231030/fbg2.png
fig_production_figs/20231030/fbg3.png
fig_production_figs/20231030/fbg4.png
fig_production_figs/20231030/fbg5.png
fig_production_figs/20231030/fbg6.png
fig_production_figs/20231030/fbg7.png
fig_production_figs/20231030/fbg8.png
fig_production_figs/20231031/fbg1.png
fig_production_figs/20231031/fbg2.png
fig_production_figs/20231031/fbg3.png
fig_production_figs/20231031/fbg4.png
fig_production_figs/20231031/fbg5.png
fig_production_figs/20231031/fbg6.png
fig_production_figs/20231031/fbg7.png
fig_production_figs/20231031/fbg8.png
fig_production_figs/20231031/fbg9.png
fig_production_figs/20231031/fbg10.png
fig_production_figs/20231031/fbg11.png
fig_production_figs/20231130/fbg1.png
fig_production_figs/20231130/fbg2.png
fig_production_figs/20231130/fbg3.png
fig_production_figs/20231130/fbg4.png
fig_production_figs/20231130/fbg5.png
fig_production_figs/20231130/fbg6.png
fig_production_figs/20231130/fbg7.png
fig_production_figs/20231130/fbg8.png
fig_production_figs/20231130/fbg9.png
fig_production_figs/20231130/fbg10.png
fig_production_figs/20231130/fbg11.png
fig_production_figs/20231130/fbg12.png
fig_production_figs/20231130/fbg13.png
fig_production_figs/20231130/fbg14.png
fig_production_figs/20240207/fbg1.png
fig_production_figs/20240207/fbg2.png
fig_production_figs/20240207/fbg3.png
fig_production_figs/20240207/fbg4.png
fig_production_figs/20240207/fbg5.png
fig_production_figs/20240207/fbg6.png
fig_production_figs/20240207/fbg7.png
fig_production_figs/20240207/fbg8.png
fig_production_figs/20240207/fbg9.png
fig_production_figs/20240207/fbg10.png
fig_production_figs/20240207/fbg11.png
fig_production_figs/20240207/fbg12.png
fig_production_figs/20240207/fbg13.png
fig_production_figs/20240207/fbg14.png
fig_production_figs/20240207/fbg15.png
fig_production_figs/20240207/fbg16.png
fig_production_figs/20240207/fbg17.png
fig_production_figs/20240328/fbg3.png
fig_production_figs/20240328/fbg4.png
fig_production_figs/20240328/fbg5.png
fig_production_figs/20240328/fbg6.png
fig_production_figs/20240328/fbg7.png
fig_production_figs/20240328/fbg8.png
fig_production_figs/20240328/fbg9.png
fig_production_figs/20240328/fbg10.png
fig_production_figs/20240328/fbg11.png
fig_production_figs/20240328/fbg12.png
fig_production_figs/20240328/fbg13.png
fig_production_figs/20240328/fbg14.png
fig_production_figs/20240328/fbg15.png
fig_production_figs/20240328/fbg16.png
fig_production_figs/20240328/fbg17.png
fig_production_figs/20240328/fbg18.png
__pycache__/__init__.cpython-310.pyc
__pycache__/live_production.cpython-310.pyc
*.png